* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: rgb(247, 247, 247);
}

h1,h2,h3,h4,h5 {
    font-weight: normal;
}

